<!DOCTYPE html>
<html>
<head>
  	<title>Analytics</title>

    <%= env_stylesheet_link_tag(static: 'application_static',
                              hot: 'application_non_webpack',
                              media: 'all',
                              'data-turbolinks-track' => "reload")  %>

    <!-- These do not use turbolinks, so no data-turbolinks-track -->
    <!-- This is to load the hot assets. -->
    <%= env_javascript_include_tag(hot: ['http://localhost:3500/vendor-bundle.js',
                                         'http://localhost:3500/app-bundle.js']) %>

    <!-- These do use turbolinks -->
    <%= env_javascript_include_tag(static: 'application_static',
                                   hot: 'application_non_webpack',
                                   'data-turbolinks-track' => "reload") %>

  	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= redux_store_hydration_data %>

</body>
</html>
