<% content_for :title do %>
	Analytic
<% end %>

<% content_for :titleTag do %>
	Site Analytic Information
<% end %>

<% content_for :body do %>

<div class="row">
	<div class="col-sm-12">
	  <div class="panel panel-white no-radius">
	    <div class="panel-heading border-light">
			<h4 class="panel-title">Sites</h4>
			<ul class="panel-heading-tabs border-light">
				<li>
					
				</li>
			</ul>
		</div>
	    <div class="panel-body">
		 
	    </div>
	  </div>
	</div>
</div>
<% end %>

